.all-search-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color:var(--dark-brown-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.all-search-main-dark {
    color: var(--brown-color)
}
.all-search-section1 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin:20px;
    width:min-content;

}
.search-input-all {
    width:25%;
    min-width:300px;
    border-radius: 5px;
    background-color: var(--white-color);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.25);
    font-size: 1.25rem;
    padding:0px 5px;
}
.search-icon-all {
    height:25px;
    width:25px;

}
.hidden-button-all {
    position: absolute;
    right:0px;
    top:-5px;
    width:auto;
    display:hidden;
    background-color: transparent;
    border:none;
}
.all-search-section1 h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-block: 20px;
    
}
.currently-searching-span {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-left: 10px;
}
.all-search-section2 {
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;

}
.all-search-section2 h3 {
    width:100%;
    font-size: 2rem;
    border-bottom: 2px solid var(--lilac-color);
}
.search-result-container {
    display: flex;
    width:100%;
    height:max-content;
    flex-wrap: wrap;
    margin-inline:10px;
}
.from_dash_activate {
    display:none;
}