*{
    box-sizing: border-box;
}
:root {
    --light-pink-color: rgb(81, 25, 86);
    --white-color: rgb(223, 219, 219);
}
a {
    text-decoration: none;
    color: var(--white-color);
}
body {
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/sakura_tree.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display:flex;
    flex-direction: column;

}
body::after{
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background: linear-gradient(0deg, rgba(0,0,0) 0%, transparent 100%);
;
    opacity: 0.5;
    z-index: -1;

}
.container{
    height:700px;
    width:500px;
    background-color: rgba(120, 77, 77, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    border: 3px solid rgba(36, 35, 35, 0.1);
    backdrop-filter: blur(30px);
}
/*media queri for when width gets lower than 600*/
@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
        height: 100%;

    }
}
/*-------CODE FOR LOGIN FORM GOES HERE*/
.container h1{
    color: var(--white-color);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.messages {
    color:white;
    font-weight:700;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;

}
.quote {
    display:block;
    margin:0;
    padding:0;
    font-family: 'Playgair Display',serif;
    font-style: italic;
    color:var(--light-pink-color);
    font-size:20px;
    font-weight: bold;
    max-height: 100px;
}
.login-form{
    width:95%;
}
/*CODE FOR INPUT FIELDS*/
.input_box {
    position: relative;
    width: 100%;
}
.eye {
    position: absolute;
    right:15px;
    bottom:10px;
    cursor: pointer;
}
.eye-closed {
    display:block;
}
.eye-opened {
    display:none;
}
.input_box label {
    position:absolute;
    top: 50%;
    left:10px;
    transform: translateY(-50%);
    transition: 250ms ease;
}
.input_box input:focus~label,
.input_box input:valid~label {
    top:0;
}
.input_fields{
    display:block;
    height:2.5rem;
    width:95%;
    margin:auto;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color:var(--white-color);
    background-color: rgba(255, 255, 255,0);
    border:none;
    border-bottom: 3px solid rgb(2, 2, 2,.5);
    transition: 0.5s;
    outline: none;
}
/*CODE FOR REMEMBER ME/LOGIN GOES HERE*/
.remember-login {
    display:flex;
    margin:auto;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    justify-content: space-between;
    align-items: center;
    width:100%;
    
}
.forgot-password{
    display: block;
    color:aliceblue;
    font-size: 16px;
    margin:10px;
    transition: 250ms ease;
    text-decoration: none;
    position: relative;
}
.forgot-password::after{
    width:0;
    content:'';
    position: absolute;
    height: 2px;
    background-color: rgb(230, 152, 230);
    left:0;
    bottom:-2px;
    transition: 250ms ease;
}
.forgot-password:focus,
.forgot-password:hover {
    color:rgb(230, 152, 230);
}
.forgot-password:focus::after,
.forgot-password:hover::after {
    width: 130px;
}
.login-btn,
.register-btn {
    display:inline-block;
    height: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(255, 255, 255,0);
    color:var(--white-color);
    border:none;
    border-bottom: 3px solid rgb(2, 2, 2,.5);
    transition: 0.5s;
    outline: none;
    cursor: pointer;    
    width:5rem;
    text-shadow: 2px 2px 0px black;
    margin-inline: 40px;

}
.login-btn:hover,
.login-btn:focus,
.register-btn:hover,
.register-btn:focus {
    background-color: rgb(230, 152, 230,.5);
    color:rgb(0, 0, 0);
    text-shadow: none;
}
.login-btn:active,
.register-btn:active{
    background-color: rgb(230, 152, 230);
    border-bottom: 3px solid rgb(230, 152, 230);
    transform: translateY(-5px);

}
.remember-box {
    cursor: pointer;
}
.remember-me{  
    font-size:16px;
    font-weight: bold;
    display:inline-block;
    color: var(--white-color);
}
/*CODE FOR FLOWERS / OR GOES HERE*/
.flowers-or-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:none;
    
}
.flower {
    position: relative;
    width:7rem;
    height:10rem;
    margin: 10px;
    object-fit: cover; 
    filter: brightness(0.7);
}

.flower-left{
    transform: rotate(90deg);
}
.flower-right{
    transform: rotate(270deg);
}
.or{
    display: block;
    font-size: 1.5rem;
    font-weight: 900;
    margin:0;
    color: rgb(183, 180, 180);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    position: relative;

}
.or::before{
    position: absolute;
    content: '';
    width: 3px;
    background-color: rgb(183,180,80,.8);
    left:50%;
    height:20px;
    top:-20px;
}
.or::after{
    position: absolute;
    content: '';
    width: 3px;
    background-color: rgb(183,180,80,.8);
    left:50%;
    height:20px;
    bottom:-35px;
}
.or-text{
    display: block;
    margin:0;
    color:white;
    font-size: 12px;
    font-family: 'Dancing Script', cursive;
}
/*media query for 600px display non ortext*/
@media only screen and (max-width: 400px) {
    .or-text{
        display:none;
    }
}
/*Code for google button goes here*/
.google-button {
    display: flex;
    background-color: rgb(66, 64, 64,.7);
    color: rgb(184, 179, 179);
    font-size: 16px;
    border-radius:20px;
    align-items: center;
    
}
.google-icon{
    margin-left:15px;
    height:90%;
    width:30px;
    
}
.google-text{
    margin-left:20px;
    text-align:center;
    font-family: "Poppins";
    text-shadow: 2px 2px 0px black;
}
.google-button:hover{
    background-color: rgb(66, 64, 64);
    cursor: pointer;
}
.error_container{
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color:aliceblue;
}
.error_container ul {
    list-style: none;
    padding:0;
    margin:0;
}
.google-button:active,
.google-button:focus {
    background-color: rgb(34, 33, 33);
    transform: translateY(-5px);
    border:1px solid rgb(175, 173, 173);
}
/*-------CODE FOR CONTAINER ENDS HERE----------*/
/*Code for register link goes here*/
.register-text{
    color:var(--white-color);
    font-size: 16px;
}
.register-link{
    color:aliceblue;
    transition:250ms ease;
    font-size: 17px;
    text-decoration: none;
    position:relative;
}
.register-link::after{
    width:0;
    content:'';
    position: absolute;
    height: 2px;
    background-color: rgb(230, 152, 230);
    left:0;
    bottom:-2px;
    transition: 250ms ease;
}
.register-link:focus::after,
.register-link:hover::after {
    width: 110px;
}
.forgot-password:focus,
.forgot-password:hover {
    color:rgb(230, 152, 230);
}
.register-link:hover,
.register-link:focus{
    color:rgb(230, 152, 230);
}
.register-link::after{
    width:0;
    content:'';
    position: absolute;
    height: 2px;
    background-color: rgb(230, 152, 230);
    left:5px;
    bottom:-2px;
    transition: 250ms ease;
}
.register-link:focus::after,
.register-link:hover::after {
    width: 105px;
}
/*----CODE FOR REGISTER SECTION GOES HERE -------------*/
.register-btn{
    display: block;
    margin-inline:auto;
    margin-block: 40px;
}
.login-text{
    text-align: center;
    color:aliceblue;
    font-weight:600;
    text-decoration: none;
}
.login-link{
    color:aliceblue;
    transition:250ms ease;
    font-size: 17px;
    text-decoration: none;
    position:relative;
}
.login-link:hover,
.login-link:focus{
    color:rgb(230, 152, 230);
}
.login-link::after{
    width:0;
    content:'';
    position: absolute;
    height: 2px;
    background-color: rgb(230, 152, 230);
    left:5px;
    bottom:-2px;
    transition: 250ms ease;
}
.login-link:focus::after,
.login-link:hover::after {
    width: 90px;
}