.dash-first-container {
  display: flex;
  margin:2rem;
  z-index:-1;
  position: relative;
}
.create-note-button{
  padding: 0rem 2.5rem;
  position: relative;
  background-color: aliceblue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-weight: 700;
  font-size:1.25rem;
}
.create-note-button-dark {
  background-color: #131E81;
  color:#dad6d6;
}
.create-note-button::after{
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background: linear-gradient(0deg, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
  z-index: 1;
  bottom:0;
  left:0;
  opacity:1;
  cursor: pointer;
  transition: opacity .6s ease;
  border-radius: 10px;
}
.create-note-button:hover::after {
  opacity:0;
}
.search-box {
  position: relative ;
}
.search-input {
  padding: .5rem;
  border-radius: 7px;
  border: 0;
  outline: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #140606;
  background-color: rgb(235, 235, 234);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  width:80%;
  max-width: 500px;
  margin-left: 8rem;
  
}
.search-icon{
  height: 2rem;
  width: 2rem;
  fill: #100808;
  cursor: pointer;
  transition: 250ms;
  position:absolute;
  bottom:3px;
  right:-40px;

}
.search-input:focus {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.search-icon:hover {
  fill: rgb(147, 147, 138);

}
/*change display of first dash to flex-column when under 700 px*/
@media only screen and (max-width: 700px) {
  .dash-first-container {
    flex-direction: column;
    align-items: center;
  }
  .search-box {
    margin-top: 1rem;
  }
  .search-input {
    width: 100%;
    margin-left: 0;
    margin-top:1rem;
  }
  .search-icon{
    right: 0;
  }
}