/*Code for body defaults*/
@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes background-gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
:root {
  --white-color: rgb(198, 203, 211);
  --blue-color: rgb(74, 131, 142);
  --brown-color: rgb(156, 130, 91);
  --dark-brown-color: rgb(65, 44, 13);
  --black-color: rgb(0, 0, 0);
  --lilac-color: rgb(200, 168, 213);
  --dark-lilac-color: rgb(123, 81, 141);
  --background-gradient-light: linear-gradient(90deg, rgba(203,68,235,0.8064017843465512) 0%, rgba(247,121,240,0.9100432409291842) 31%, rgba(241,98,255,0.8512197115174195) 58%, rgba(215,102,212,1) 100%);
  --background-gradient-dark: linear-gradient(90deg, #000000, #242424);
}


body {
  margin: 0;
  height: 200vh;
  background-image: var(--background-gradient-light);
  background-size:300%;
  background-position: left;
  animation: background-gradient 120s ease infinite alternate;
}
.body-dark-mode {
  background-image: var(--background-gradient-dark);
}
/*=================================================*/
/*!==========CODE FOR NAVBAR STARTS HERE===========*/
/*=================================================*/
.navbar {
  position: sticky;
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, var(--white-color) 0%, var(--lilac-color))
    100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/*code for the fist nav container starts here*/
.first-nav-container {
  margin-left: 2em;
  display: flex;
  align-items: center;
  height: 100%;
}
.logo {
  height:3vh;
  width:5vw;
  margin-right: 2em;
  margin-top: 0.5rem;
  transition: 250ms;
}
.logo:hover {
  fill: rgb(113, 115, 132);
}
.darkmode-checkbox {
  display: none;
}
.dark-mode {
  height: 48%;
  width:62px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: var(--white-color);
  position: relative;
  cursor: pointer;
  margin-right: 2em;
  margin-top: 0.5rem;
  transition: 250ms;
  box-shadow: inset 0 5px 15px 0 rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  display: block;
}
.dark-mode::after {
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffcc89 0%, #d8860b 100%);
  top: 1px;
  left: 1px;
  transition: 250ms;
}
.dark-mode:active::after {
  width: 1.7rem;
}

.darkmode-checkbox:checked + .dark-mode::after {
  left: 3.8rem;
  background: linear-gradient(180deg, #777, #3a3a3a);
  transform: translateX(-100%);
}

.darkmode-checkbox:checked + .dark-mode {
  background-color: black;
}
.darkmode-checkbox:checked + body {
  background-color: #3a3a3a;
}

.dark-mode svg {
  position: absolute;
  width: 1rem;
  height: 1rem;
  z-index: 1;
}
.dark-mode svg.sun {
  left:5%;
  top:17%;
  fill:#fff;
  transition: 0.3s;
}

.dark-mode svg.moon {
  left:69%;
  top:16%;
  fill:#7e7e7e;
  transition: 0.3s;
  stroke:none;
}
/*code for the menu nav container/ page selection buttons*/
.menu-icon {
  width:2rem;
  height:2rem;
  transition: 250ms;
  fill: black;

}
.menu-icon:hover {
  fill: rgb(32, 50, 212);
  cursor: pointer;
}

.menu-container {
  position: absolute;
  flex-direction:column;
  top: 50px; /* Adjust based on your navbar height */
  width:100%;
  overflow: hidden;
  max-height: 0; /* Set the initial height to 0 */
  transition: max-height 0.5s ease;
}

.menu-container li {
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(174, 167, 174);
  transition: 250ms;
  cursor: pointer;
  width:100%;
}

.menu-container a {
  color: white;
  text-decoration: none;
}

.menu-container a:hover {
  text-decoration: underline;
}
.menu-container.opened {
  display:flex;
  max-height: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.menu-container:not(.opened) {
  transition: max-height 0s;
}
/*media querei to change the menu-container and menu-icon display when at least Xpx is reached*/
@media only screen and (min-width: 700px) {
  .menu-container {
    position: relative;
    top:0;
    display:flex;
    width: auto;
    overflow: revert;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
  }
  .menu-container button {
    width:auto;
    padding: 1em;
    padding-right: 2em;
    padding-left: 2em;
    border: 0;
    color: rgb(24, 27, 31);
    font-weight: 700;
    background-color: rgb(174, 167, 174);
    transition: 250ms;
    cursor: pointer;
  } 
  .menu-container button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .menu-container button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .menu-container button:hover {
    background-color: rgb(149, 154, 157);
  }
  .menu-icon {
    display:none;
  }
}
/*code for the greeting of the navbar*/
.greeting {
  display:none;
}
/*code for the third nav container/dropdown menu*/
.profile-icon {
  margin-right: .5em;
  margin-top: .5rem;
  transition: 250ms;
  fill: black;
  width:2rem;
  height:2rem;
}
.profile-dropdown {
  display: none;
  background: linear-gradient(
      90deg,
      var(--white-color) 0%,
      var(--dark-lilac-color)
    )
    100%;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 5vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.profile-icon:hover {
  cursor: pointer;
  fill: rgb(113, 115, 132);
}
.profile-dropdown a {
  font-weight: 700;
  margin-top: 1em;
  text-decoration: none;
  color: rgb(46, 57, 60);
  padding: 0.5em;
  transition: all 300ms;
}

.profile-dropdown a:not(:last-child) {
  border-bottom: 2px solid rgb(84, 80, 80);
}
.profile-dropdown a:hover {
  font-weight: 900;
  color: rgb(85, 26, 91);
}
/*code for the navbar ends here*/
